@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.outfit-font{
  font-family: "Outfit", sans-serif;
}

body{
  font-family: "Outfit", sans-serif;
  color: #2F3A4A;
}

a.active{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color:#5ebc67 ;
  }